/* Global Styles */
body {
    font-family: 'Arial', sans-serif; /* Custom font */
    background-color: #f8f9fa; /* Light gray background */
    margin: 0;
    padding: 0;
}

/* Header */
header {
    background-color: #343a40;
    color: white;
    padding: 1rem;
    text-align: center;
}

header nav a {
    color: #ffffff;
    text-decoration: none;
    margin: 0 1rem;
}

header nav a:hover {
    text-decoration: underline;
}

/* Custom Card Styles */
.custom-card {
    border-radius: 40px;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.5);
}

/* Buttons */
.rounded-btn {
    border-radius: 40px;
}

.btn-primary:hover {
    background-color: #0056b3;
}

.btn-outline-secondary:hover {
    background-color: #6c757d;
    color: #fff;
}

/* Images */
.card .product-image {
    height: 100px;
    object-fit: cover;
}

.product-image-large {
    max-height: 600px;
    object-fit: cover;
}

/* Alerts */
.alert-center {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1050;
    text-align: center;
    max-width: 90%;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

/* Responsive Adjustments */
@media (max-width: 576px) {
    .product-image-small {
        height: 150px;
    }
    .product-image-large {
        max-height: 400px;
    }
}

@media (min-width: 768px) {
    .product-image-small {
        height: 180px;
    }
    .product-image-large {
        max-height: 500px;
    }
}

@media (min-width: 992px) {
    .product-image-small {
        height: 350px;
    }
    .product-image-large {
        max-height: 700px;
    }
}
